.container
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.content
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 3%;
}

.image
{
  width: 50%; /* Set a fixed width for all images */
  height: 50%; /* Maintain the aspect ratio */
  object-fit: cover;
}

p
{
  padding: 5%;
}

.body
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a
{
  width: 50%;
  width: 50%;
  background-color:rgba(1,1,1,0);
  color:#c202db;
  font-weight: bold;
  font-size: 24px;
  border-radius: 10px;
  text-align: center;
  transition: transform 0.3s ease, fill 0.3s ease;
  text-decoration: none;
}

a:hover
{
  cursor: pointer;
  transition: transform 0.3s ease, fill 0.3s ease;
  transform: translateY(-5px);

}